/* styles.css */



body {
  margin: 0;
  padding: 0;
}

/* Header Section */

header {
  display: flex;
  background-color: #1f2937;
  color: #f9faf8;
  font-size: 24px;
  justify-content: end; 
  align-items: center;
  padding-right: 2vw;
}
#headerimage {
  margin-top: 2vw;
  height: 100px;
  width: 100px;
  margin-right: 70vw;
  border-radius: 30px;
  box-shadow: 5px 5px black;
}

header a {
  margin: 10px;
  padding: 20px;
  font-size: 24px;
  background-color: #1f2937;
  color:#F9FAF8;
  font-family: 'Roboto', arial;
  text-decoration:none;
  text-shadow: 5px 5px black;
}

/* Intro Section */
h1{
  font-size: 48px;
  font-weight: bold;
  color: #F9FAF8;
  margin: 0;
  font-family: 'Roboto', arial;
  text-shadow: 5px 5px black;
}


#intro {
  padding-top: 100px;
  padding-right: 30px;
  padding-bottom: 100px;
  padding-left: 30px;
  margin-bottom: 100px;
  display: flex;
  background-color: #1f2937;
  justify-content: center;
  align-items: center; 
}



#herotext{
  flex-basis: 500px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 50px;
} 

#herotext #button {
  border-radius: 10px;
  height: 30px;
  width: 100px;
  border:3px solid #F9FAF8;
  color: #F9FAF8;
  background-color: #3882f6;
  font-family:  'Roboto', arial;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  text-decoration:none;
  box-shadow:  2px 2px 3px black;
}


#herotext #button:hover {
  opacity: 0.5;
}
header a:hover{
  opacity: 0.5;
}
#SecondaryT {
  font-size: 18px;
  color: #E5E7EB;
  font-family: 'Roboto', arial;
  text-shadow: 2px 2px black;
}

#blockimage {
  width: 100%; 
  height: 40vh;
  flex-basis: 10em;
  border-radius: 8px;  
}

/* info Section */

.infotexthead {
  font-size: 36px;
  color: #1f2937;
  font-weight: bold;
  font-family: 'Roboto', arial;
  text-align: center;
}

.infotext {
  font-size: 14px;
  color: #1f2937;
  font-family: 'Roboto', arial;
}

#boxcontainer {
  margin-top: 50px;
  padding-bottom: 50px;
  display:flex;
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap;
}

.box{
  margin-top: 6%;
  margin-bottom: 6%;
  margin-left: 1%;
  margin-right: 1%;
  border: 4px solid #3882f6;
  width: 200px;
  height: 250px;
  border-radius: 25px;
  box-shadow: 10px 10px 5px lightblue;
}

.box p {
  font-size: 16px;
  text-align: center;
  color: #1f2937;
  font-family: 'Roboto', arial;
  margin-bottom: 0;
}

.overlay {
  border-radius: 20px;
  top: inherit;
  position: absolute;
  height: inherit;
  width: inherit;
  opacity: 0;
  transition: .5s ease;
  background-color: #042f3d;
  z-index: 1;
  font-style: italic;
  font-family: 'Roboto';
}

.box:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

p.sub {
  font-size: 14px;
  color: #5a5f66;
  margin-top: 0;
  margin-bottom: 2px;
}


img {
  width: inherit;
  height: inherit;
  border-radius: 22px;
}

/* quote  Section */
#quote {
  margin-top: 150px;
  display: flex;
  background-color: #E5E7EB;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

#quote p {
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 36px;
  font-style: italic;
  font-family: 'Roboto';
  text-align: center;
  color:#1f2937 ;
}

#quote b {
  padding-right: 100px;
  padding-bottom: 100px;
  font-size: 20px;
  font-weight: bolder;
  color:#1f2937;
}

/*pop up section*/
#popup {
  display: flex;
  justify-content: center;
  align-items: center;

}
#popup #box{
  border-radius: 22px;
  background-color: #3882f6;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 20%;
  padding-left: 20%;
  position: relative;
  box-shadow:  10px 10px 5px lightblue;
}

#box {
  display: flex;
  flex-direction: row;
}

#box b {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
  font-family:  'Roboto', arial;
}

#box p {
  margin-top: 5px;
  font-size: 16px;
  color: #F9FAF8;
  font-family:  'Roboto', arial;
}
#box #button {
  margin-top: 10px;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  border:3px solid #F9FAF8;
  color: #F9FAF8;
  font-family:  'Roboto', arial;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
  margin-left: 200px;
  text-decoration:none;
  box-shadow:  2px 2px 3px #1f2937;
}

#box #button:hover {
  opacity: 0.5;
}
/*footer section*/
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
}

footer p {
  text-align: center;
  font-size: 14px;
  font-family:  'Roboto', arial;
  color: #F9FAF8;
}